---
import Container from "@/components/Container.astro"
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import DownloadCV from "@components/DownloadCV"
import { SITE, SOCIALS } from "@consts"
import { formatWorkDate } from "@/pages/work/index.astro"

const posts = (await getCollection("blog"))
  .filter((post: any) => !post.data.draft)
  .sort((a: any, b: any) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const works = (await getCollection("work"))
  .sort((a: any, b: any) => b.data.dateEnd.getTime() - a.data.dateEnd.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter((project: any) => !project.data.draft)
  .sort((a: any, b: any) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <Container size="xl">
    <div class="mt-28">
      <h1 class="text-3xl font-bold text-big mb-1">Hello, World</h1>
      <p class="text-sm">I build stuff (swe. se. w3. ai. nwk.)</p>
    </div>

    <!-- About Section -->
    <section class="w-full">
      <h2 class="text-2xl mb-2 mt-12">About</h2>
      <div class="bspace-y-1 p-5 border border-big/20">
        <p class="font-semibold text-big mb-4"><span class="text-tiny">$</span> cat about.md</p>
        <div class="ms-5 space-y-1">
          <p>🐝 I am an undergraduate at the 
            <a href="https://futa.edu.ng" target="_blank">
              <b class="cursor-pointer hover:opacity-80 underline transition-opacity duration-300 text-tiny">FUTA</b>
            </a> studying Software Engineering</p>
          <p>👾 I love to build things. I am motivated by challenging projects with self-guided research and dynamic problem solving.</p>
          <p>👩‍💻 I love reasoning, learning new things and enjoy creative thinking.</p>
        </div>
      </div>
    </section>
    
    <!-- Work Section -->
    <section class="w-full">
      <h2 class="text-2xl mb-2 mt-12">Experience</h2>

      <div class="space-y-5 w-full">
        {works.map((work) => (
          <div class="bspace-y-1 p-5 border border-big/20">
            <p class="font-semibold text-big mb-4"><span class="text-tiny">$</span> bat {work.data.file}</p>
            <div class="ms-5 space-y-1">
              <div class="flex items-center justify-between w-full">
                <h1 class="mb-2">{work.data.company}</h1>
                <p>{formatWorkDate(work.data.dateStart)} - {formatWorkDate(work.data.dateEnd)}</p>
              </div>
              <h3 class="text-big">{work.data.role}</h3>
              <p class="text-sm mt-2">{work.data.brief}</p>
            </div>
          </div>
        ))}
      </div>
    </section>
  </Container>

  <div class="relative">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="text-big">
              View all
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project: any) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post: any) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
